<div class="border-e border-s border-fiord-200">
    <div class="max-h-[calc(100vh_-_62px)] overflow-auto ">

        <header
            class="sticky top-0 z-10 backdrop-blur-lg p-5 py-3 w-full justify-between flex items-center gap-2 cursor-pointer">
            <div class="flex items-center gap-1">
                <ion-icon name="information-circle" class="text-lg text-blue-500"></ion-icon>
                <span class="text-base text-black font-medium">Design Chat</span>
            </div>
            <button mat-icon-button
                class="bg-transparent text-fiord-300 hover:text-blue-500 transition-all ease-in-out duration-200 !h-6 !w-6 !flex !items-center !justify-center">
                <ion-icon name="close-circle" class="text-lg"></ion-icon>
            </button>
        </header>

        <div class="p-5 py-1">
            <div class="flex justify-between text-fiord-400 text-xs">
                <div class="flex items-center gap-2">
                    <!-- <ion-icon name="pin"></ion-icon> -->
                    <span>Description</span>
                </div>
                <button mat-icon-button
                    class="bg-transparent text-fiord-300 hover:text-blue-500 transition-all ease-in-out duration-200 !h-6 !w-6 !flex !items-center !justify-center">
                    <ion-icon name="chevron-up" class=""></ion-icon>
                </button>
            </div>

            <div class="text-xs font-medium">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore tempora sunt eius reprehenderit
                dolor! Numquam vero obcaecati quia praesentium assumenda omnis fugit ratione inventore libero?
            </div>
        </div>
    </div>
</div>