<div class="">
    <div class="max-h-[calc(100vh_-_62px)] overflow-auto ">

        <!-- border-b border-mirage-200 bg-[#ffffff78] -->
        <header
            class="sticky bg-royal-blue-50 top-0 z-10 backdrop-blur-lg p-6 pb-2 w-full flex items-center flex-col gap-2 justify-start cursor-pointer ">
            <div class="flex flex-col w-full">
                <span class="text-lg text-black font-medium">Message</span>
                <span class="text-[10px] text-mirage-400">Lorem, ipsum dolor sit amet consectetur
                    adipisicing elit.</span>
            </div>
            <!-- max-w-xs -->
            <div class="group relative  w-full py-2">
                <label for="hs-table-search" class="sr-only">Search</label>
                <input type="text" name="hs-table-search" id="hs-table-search"
                    class="focus:outline-none appearance-none py-2 px-3 ps-9 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
                    placeholder="Search for items">
                <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-3">
                    <svg class=" group-focus-within:text-blue-500 h-4 w-4 text-gray-400"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="11" cy="11" r="8" />
                        <path d="m21 21-4.3-4.3" />
                    </svg>
                </div>
            </div>
        </header>

        <div class="p-3 py-5">
            <!-- <span class="flex h-2 w-2 relative">
                <span
                    class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue-400 opacity-75"></span>
                <span class="relative inline-flex rounded-full h-2 w-2 bg-blue-500"></span>
            </span> -->
            <!--  -->
            <div>
                <div class="px-2 py-1 flex justify-between text-fiord-400 text-xs">
                    <div class="flex items-center gap-2">
                        <ion-icon name="pin"></ion-icon>
                        <span>Pinned</span>
                    </div>
                    <ion-icon name="ellipsis-horizontal"></ion-icon>
                </div>
                <div mat-ripple
                    class="hover:bg-white rounded-lg relative w-full flex items-center gap-2 justify-start p-2 my-1 cursor-pointer">
                    <div
                        class="relative flex-shrink-0 h-10 w-10 rounded-full object-cover text-white bg-blue-500 border-2 border-blue-200 flex items-center justify-center">
                        <span class="text-sm font-normal">MS</span>
                    </div>
                    <div class="flex flex-col gap-1 w-full">
                        <div class="flex items-center justify-between gap-1">
                            <span class="text-xs text-black font-medium ">Mohammed Shabuddin</span>
                            <span class="text-[10px] text-mirage-400">5:29</span>
                        </div>
                        <div class=" text-mirage-400 flex items-center gap-1 justify-between">
                            <div class="text-[10px] flex items-center gap-2">
                                <ion-icon name="notifications"></ion-icon>
                                <span>Voice message (0:17)</span>
                            </div>
                            <ion-icon class="text-base  rotate-45" name="attach"></ion-icon>
                        </div>
                    </div>
                </div>

                <div mat-ripple
                    class="hover:bg-white rounded-lg relative w-full flex items-center gap-2 justify-start p-2 my-1 cursor-pointer">
                    <div type="button"
                        class="relative flex rounded-full bg-gray-800 text-sm flex-shrink-0 after:h-3 after:w-3 after:absolute after:-bottom-1 after:right-1 after:bg-green-600 after:rounded-full after:border-2 after:border-white">
                        <img class="h-10 w-10 rounded-full object-cover border border-mirage-200"
                            src="../../../assets/img/avtar.png" alt="">
                    </div>
                    <div class="flex flex-col gap-1 w-full">
                        <div class="flex items-center justify-between gap-1">
                            <span class="text-xs text-black font-medium ">Sahil Multani</span>
                            <span class="text-[10px] text-mirage-400">12:35</span>
                        </div>
                        <div class=" text-mirage-400 flex items-center gap-2 justify-between">
                            <div class="text-[10px] flex items-center gap-1">
                                <ion-icon name="pencil" class="text-blue-500"></ion-icon>
                                <span>Sahil Multani is typing....</span>
                            </div>
                            <span
                                class="inline-flex items-center rounded-full bg-red-500 px-[7px] py-[2px]  text-[10px] font-medium text-white ring-1 ring-inset ring-red-600/10">
                                2
                            </span>
                        </div>
                    </div>
                </div>

                <div mat-ripple
                    class="hover:bg-white rounded-lg relative w-full flex items-center gap-2 justify-start p-2 my-1 cursor-pointer">
                    <div
                        class="relative flex-shrink-0 h-10 w-10 rounded-full object-cover text-white bg-orange-500 border-2 border-orange-200 flex items-center justify-center">
                        <span class="text-sm font-normal">DC</span>
                    </div>
                    <div class="flex flex-col gap-1 w-full">
                        <div class="flex items-center justify-between gap-1">
                            <span class="text-xs text-black font-medium ">Design Chat</span>
                            <span class="text-[10px] text-mirage-400">16:03</span>
                        </div>
                        <div class=" text-mirage-400 flex items-center gap-2 justify-between">
                            <div class="text-[10px] gap-1 line-clamp-1">
                                <span>Jaswant Dangi :</span>
                                <span class="text-black font-medium text-tr"> Hi, How long dose it take to finalize the
                                    page?</span>
                            </div>
                            <ion-icon class="text-base text-blue-500" name="checkmark-done"></ion-icon>
                        </div>
                    </div>
                </div>

                <div mat-ripple
                    class="hover:bg-white rounded-lg relative w-full flex items-center gap-2 justify-start p-2 my-1 cursor-pointer">
                    <div
                        class="relative flex-shrink-0 h-10 w-10 rounded-full object-cover text-white bg-black border-2 border-fiord-500 flex items-center justify-center after:h-3 after:w-3 after:absolute after:-bottom-1 after:right-1 after:bg-green-600 after:rounded-full after:border-2 after:border-white">
                        <span class="text-sm font-normal">RD</span>
                    </div>
                    <div class="flex flex-col gap-1 w-full">
                        <div class="flex items-center justify-between gap-1">
                            <span class="text-xs text-black font-medium ">Roshan Dangi</span>
                            <span class="text-[10px] text-mirage-400">12:35</span>
                        </div>
                        <div class=" text-mirage-400 flex items-center gap-2 justify-between">
                            <div class="flex -space-x-1 overflow-hidden">
                                <img class="inline-block h-4 w-4 rounded-full ring-2 ring-white"
                                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                    alt="">
                                <img class="inline-block h-4 w-4 rounded-full ring-2 ring-white"
                                    src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                    alt="">
                                <img class="inline-block h-4 w-4 rounded-full ring-2 ring-white"
                                    src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80"
                                    alt="">
                                <img class="inline-block h-4 w-4 rounded-full ring-2 ring-white"
                                    src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                    alt="">
                            </div>
                            <div class="text-[10px] gap-1 line-clamp-1 me-auto">
                                <span class="text-black font-medium text-tr">
                                    12m : 30s
                                </span>
                            </div>
                            <div class="text-[10px] text-red-600 flex items-center gap-1 font-medium">
                                <ion-icon name="call"></ion-icon>
                                <span class="">End Call</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="px-2 py-1 flex justify-between text-fiord-400 text-xs">
                    <div class="flex items-center gap-2">
                        <ion-icon name="mail"></ion-icon>
                        <span>All Mesage</span>
                    </div>
                    <ion-icon name="ellipsis-horizontal"></ion-icon>
                </div>

                <div mat-ripple
                    class="hover:bg-white rounded-lg relative w-full flex items-center gap-2 justify-start p-2 my-1 cursor-pointer">
                    <div
                        class="relative flex-shrink-0 h-10 w-10 rounded-full object-cover text-white bg-blue-500 border-2 border-blue-200 flex items-center justify-center">
                        <span class="text-sm font-normal">MS</span>
                    </div>
                    <div class="flex flex-col gap-1 w-full">
                        <div class="flex items-center justify-between gap-1">
                            <span class="text-xs text-black font-medium ">Mohammed Shabuddin</span>
                            <span class="text-[10px] text-mirage-400">5:29</span>
                        </div>
                        <div class=" text-mirage-400 flex items-center gap-1 justify-between">
                            <div class="text-[10px] flex items-center gap-2">
                                <ion-icon name="notifications"></ion-icon>
                                <span>Voice message (0:17)</span>
                            </div>
                            <ion-icon class="text-base  rotate-45" name="attach"></ion-icon>
                        </div>
                    </div>
                </div>

                <div mat-ripple
                    class="hover:bg-white rounded-lg relative w-full flex items-center gap-2 justify-start p-2 my-1 cursor-pointer">
                    <div type="button"
                        class="relative flex rounded-full bg-gray-800 text-sm flex-shrink-0 after:h-3 after:w-3 after:absolute after:-bottom-1 after:right-1 after:bg-green-600 after:rounded-full after:border-2 after:border-white">
                        <img class="h-10 w-10 rounded-full object-cover border border-mirage-200"
                            src="../../../assets/img/avtar.png" alt="">
                    </div>
                    <div class="flex flex-col gap-1 w-full">
                        <div class="flex items-center justify-between gap-1">
                            <span class="text-xs text-black font-medium ">Sahil Multani</span>
                            <span class="text-[10px] text-mirage-400">12:35</span>
                        </div>
                        <div class=" text-mirage-400 flex items-center gap-2 justify-between">
                            <div class="text-[10px] flex items-center gap-1">
                                <ion-icon name="pencil" class="text-blue-500"></ion-icon>
                                <span>Sahil Multani is typing....</span>
                            </div>
                            <span
                                class="inline-flex items-center rounded-full bg-red-500 px-[7px] py-[2px]  text-[10px] font-medium text-white ring-1 ring-inset ring-red-600/10">
                                2
                            </span>
                        </div>
                    </div>
                </div>

                <div mat-ripple
                    class="hover:bg-white rounded-lg relative w-full flex items-center gap-2 justify-start p-2 my-1 cursor-pointer">
                    <div
                        class="relative flex-shrink-0 h-10 w-10 rounded-full object-cover text-white bg-orange-500 border-2 border-orange-200 flex items-center justify-center">
                        <span class="text-sm font-normal">DC</span>
                    </div>
                    <div class="flex flex-col gap-1 w-full">
                        <div class="flex items-center justify-between gap-1">
                            <span class="text-xs text-black font-medium ">Design Chat</span>
                            <span class="text-[10px] text-mirage-400">16:03</span>
                        </div>
                        <div class=" text-mirage-400 flex items-center gap-2 justify-between">
                            <div class="text-[10px] gap-1 line-clamp-1">
                                <span>Jaswant Dangi :</span>
                                <span class="text-black font-medium text-tr"> Hi, How long dose it take to finalize the
                                    page?</span>
                            </div>
                            <ion-icon class="text-base text-blue-500" name="checkmark-done"></ion-icon>
                        </div>
                    </div>
                </div>

                <div mat-ripple
                    class="hover:bg-white rounded-lg relative w-full flex items-center gap-2 justify-start p-2 my-1 cursor-pointer">
                    <div
                        class="relative flex-shrink-0 h-10 w-10 rounded-full object-cover text-white bg-black border-2 border-fiord-500 flex items-center justify-center after:h-3 after:w-3 after:absolute after:-bottom-1 after:right-1 after:bg-green-600 after:rounded-full after:border-2 after:border-white">
                        <span class="text-sm font-normal">RD</span>
                    </div>
                    <div class="flex flex-col gap-1 w-full">
                        <div class="flex items-center justify-between gap-1">
                            <span class="text-xs text-black font-medium ">Roshan Dangi</span>
                            <span class="text-[10px] text-mirage-400">12:35</span>
                        </div>
                        <div class=" text-mirage-400 flex items-center gap-2 justify-between">
                            <div class="flex -space-x-1 overflow-hidden">
                                <img class="inline-block h-4 w-4 rounded-full ring-2 ring-white"
                                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                    alt="">
                                <img class="inline-block h-4 w-4 rounded-full ring-2 ring-white"
                                    src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                    alt="">
                                <img class="inline-block h-4 w-4 rounded-full ring-2 ring-white"
                                    src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80"
                                    alt="">
                                <img class="inline-block h-4 w-4 rounded-full ring-2 ring-white"
                                    src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                    alt="">
                            </div>
                            <div class="text-[10px] gap-1 line-clamp-1 me-auto">
                                <span class="text-black font-medium text-tr">
                                    12m : 30s
                                </span>
                            </div>
                            <div class="text-[10px] text-red-600 flex items-center gap-1 font-medium">
                                <ion-icon name="call"></ion-icon>
                                <span class="">End Call</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div mat-ripple
                    class="hover:bg-white rounded-lg relative w-full flex items-center gap-2 justify-start p-2 my-1 cursor-pointer">
                    <div
                        class="relative flex-shrink-0 h-10 w-10 rounded-full object-cover text-white bg-blue-500 border-2 border-blue-200 flex items-center justify-center">
                        <span class="text-sm font-normal">MS</span>
                    </div>
                    <div class="flex flex-col gap-1 w-full">
                        <div class="flex items-center justify-between gap-1">
                            <span class="text-xs text-black font-medium ">Mohammed Shabuddin</span>
                            <span class="text-[10px] text-mirage-400">5:29</span>
                        </div>
                        <div class=" text-mirage-400 flex items-center gap-1 justify-between">
                            <div class="text-[10px] flex items-center gap-2">
                                <ion-icon name="notifications"></ion-icon>
                                <span>Voice message (0:17)</span>
                            </div>
                            <ion-icon class="text-base  rotate-45" name="attach"></ion-icon>
                        </div>
                    </div>
                </div>

                <div mat-ripple
                    class="hover:bg-white rounded-lg relative w-full flex items-center gap-2 justify-start p-2 my-1 cursor-pointer">
                    <div type="button"
                        class="relative flex rounded-full bg-gray-800 text-sm flex-shrink-0 after:h-3 after:w-3 after:absolute after:-bottom-1 after:right-1 after:bg-green-600 after:rounded-full after:border-2 after:border-white">
                        <img class="h-10 w-10 rounded-full object-cover border border-mirage-200"
                            src="../../../assets/img/avtar.png" alt="">
                    </div>
                    <div class="flex flex-col gap-1 w-full">
                        <div class="flex items-center justify-between gap-1">
                            <span class="text-xs text-black font-medium ">Sahil Multani</span>
                            <span class="text-[10px] text-mirage-400">12:35</span>
                        </div>
                        <div class=" text-mirage-400 flex items-center gap-2 justify-between">
                            <div class="text-[10px] flex items-center gap-1">
                                <ion-icon name="pencil" class="text-blue-500"></ion-icon>
                                <span>Sahil Multani is typing....</span>
                            </div>
                            <span
                                class="inline-flex items-center rounded-full bg-red-500 px-[7px] py-[2px]  text-[10px] font-medium text-white ring-1 ring-inset ring-red-600/10">
                                2
                            </span>
                        </div>
                    </div>
                </div>

                <div mat-ripple
                    class="hover:bg-white rounded-lg relative w-full flex items-center gap-2 justify-start p-2 my-1 cursor-pointer">
                    <div
                        class="relative flex-shrink-0 h-10 w-10 rounded-full object-cover text-white bg-orange-500 border-2 border-orange-200 flex items-center justify-center">
                        <span class="text-sm font-normal">DC</span>
                    </div>
                    <div class="flex flex-col gap-1 w-full">
                        <div class="flex items-center justify-between gap-1">
                            <span class="text-xs text-black font-medium ">Design Chat</span>
                            <span class="text-[10px] text-mirage-400">16:03</span>
                        </div>
                        <div class=" text-mirage-400 flex items-center gap-2 justify-between">
                            <div class="text-[10px] gap-1 line-clamp-1">
                                <span>Jaswant Dangi :</span>
                                <span class="text-black font-medium text-tr"> Hi, How long dose it take to finalize the
                                    page?</span>
                            </div>
                            <ion-icon class="text-base text-blue-500" name="checkmark-done"></ion-icon>
                        </div>
                    </div>
                </div>

                <div mat-ripple
                    class="hover:bg-white rounded-lg relative w-full flex items-center gap-2 justify-start p-2 my-1 cursor-pointer">
                    <div
                        class="relative flex-shrink-0 h-10 w-10 rounded-full object-cover text-white bg-black border-2 border-fiord-500 flex items-center justify-center after:h-3 after:w-3 after:absolute after:-bottom-1 after:right-1 after:bg-green-600 after:rounded-full after:border-2 after:border-white">
                        <span class="text-sm font-normal">RD</span>
                    </div>
                    <div class="flex flex-col gap-1 w-full">
                        <div class="flex items-center justify-between gap-1">
                            <span class="text-xs text-black font-medium ">Roshan Dangi</span>
                            <span class="text-[10px] text-mirage-400">12:35</span>
                        </div>
                        <div class=" text-mirage-400 flex items-center gap-2 justify-between">
                            <div class="flex -space-x-1 overflow-hidden">
                                <img class="inline-block h-4 w-4 rounded-full ring-2 ring-white"
                                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                    alt="">
                                <img class="inline-block h-4 w-4 rounded-full ring-2 ring-white"
                                    src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                    alt="">
                                <img class="inline-block h-4 w-4 rounded-full ring-2 ring-white"
                                    src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80"
                                    alt="">
                                <img class="inline-block h-4 w-4 rounded-full ring-2 ring-white"
                                    src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                    alt="">
                            </div>
                            <div class="text-[10px] gap-1 line-clamp-1 me-auto">
                                <span class="text-black font-medium text-tr">
                                    12m : 30s
                                </span>
                            </div>
                            <div class="text-[10px] text-red-600 flex items-center gap-1 font-medium">
                                <ion-icon name="call"></ion-icon>
                                <span class="">End Call</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <footer
            class="sticky bottom-0 z-10 backdrop-blur-lg p-6 py-3 shadow-2xl border-t rounded-t-2xl w-full flex items-center gap-2 justify-start cursor-pointer border-b border-mirage-200">
            <div class="relative w-full flex items-center gap-2 justify-start cursor-pointer">

                <div class="flex -space-x-2">
                    <img class="inline-block h-7 w-7 rounded-full ring-2 ring-white"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt="">
                    <img class="inline-block h-7 w-7 rounded-full ring-2 ring-white"
                        src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt="">
                </div>
                <!-- <div
                    class="relative flex-shrink-0 h-10 w-10 rounded-full object-cover text-white bg-blue-500 border-2 border-blue-200 flex items-center justify-center">
                    <span class="text-sm font-normal">MS</span>
                </div> -->
                <div class="flex flex-col">
                    <div class=" text-mirage-400 flex items-center gap-1 justify-between">
                        <div class="text-[10px] flex items-center gap-2">
                            <span>Active Call</span>
                        </div>
                    </div>
                    <div class="flex items-center justify-between gap-1">
                        <span class="text-xs text-black font-semibold ">12m : 30s</span>
                    </div>
                </div>
                <button mat-icon-button class="bg-white text-red-700 !ms-auto">
                    <ion-icon name="call" class="text-base rotate-[135deg]"></ion-icon>
                </button>
            </div>
        </footer>
    </div>
</div>