<div class="h-screen">
    <app-topbar></app-topbar>
    <mat-drawer-container class="example-container" autosize class="h-[calc(100vh_-_62px)]">

        <mat-drawer [opened]="openSideNav" #drawer class="example-sidenav" mode="side" class="w-[60px]">
            <div class="flex flex-col h-full">

                <!-- Top section -->
                <!-- <div class="py-1 flex flex-col items-center justify-center">
                    <div class="flex items-center gap-2 py-2">
                        <ion-icon class="text-4xl rounded-md" src="../assets/logo/logo-bg.svg"></ion-icon>
                    </div>
                </div> -->

                <!-- Middle section -->
                <div
                    class="flex flex-col py-3 gap-y-4 items-center justify-start overflow-auto noScrollBar max-h-[calc(100vh_-_120px)]">
                    <div class="relative w-full flex justify-center" *ngFor="let item of Sidemenu;let i = index"
                        [matTooltip]="item.name" matTooltipClass="defaulttooltip left_caret" matTooltipPosition="right">
                        <!-- <div *ngIf="item.active == true" class="absolute text-royal-blue-600 text-2xl translate-y-[30%] -left-2">
                            <ion-icon name="caret-forward-outline"></ion-icon>
                        </div> -->
                        <button  [routerLink]="[item.url]" [ngClass]="item.active == true ? 'text-royal-blue-600 opacity-100' : 'opacity-50'"
                            mat-icon-button class="flex items-center gap-2 px-3 py-1 bg-gray-50 !rounded-md">
                            <!------------ if ion-iocn ------------>
                            <!-- <ion-icon [ngClass]="item.active == true ? 'scale-110' : ''"
                                [name]="item.active == true ? item.icon : item.icon+'-outline'" class="text-xl">
                            </ion-icon> -->
                            <!------------ if lord-icon ------------>
                            <lord-icon [src]="item.active == true ? item.selected : item.iconsrc" trigger="hover"
                                target="button" [colors]="item.active == true ? 'primary:#2f6ce6' : '' "
                                [style]="item.active == true ? 'width:30px;height:30px' : 'width:25px;height:25px'">
                            </lord-icon>
                        </button>
                    </div>
                </div>

                <hr class="w-full border-mirage-200 mt-auto">

                <!-- Bottom section  -->
                <div class="flex flex-col py-3 items-center justify-center">
                    <div matTooltip="Open menu" matTooltipClass="defaulttooltip left_caret" matTooltipPosition="right"
                        class="relative w-full flex justify-center">
                        <button mat-icon-button (click)="drawer.toggle()"
                            class="flex items-center gap-2 px-3 py-1 bg-gray-50 !rounded-md">
                            <lord-icon src="https://cdn.lordicon.com/xpuzvjaf.json" trigger="hover" target="button"
                                style="width:25px;height:25px" stroke="bold">
                            </lord-icon>
                        </button>
                    </div>
                </div>

            </div>
        </mat-drawer>

        <div class="example-sidenav-content bg-royal-blue-50">
            <router-outlet></router-outlet>
        </div>

    </mat-drawer-container>
</div>