<div class="border-e border-s border-fiord-200">
    <div class="max-h-[calc(100vh_-_62px)] overflow-auto ">

        <header
            class="sticky top-0 z-10 backdrop-blur-lg p-6 pb-2 w-full flex items-center gap-2 justify-start cursor-pointer border-b border-mirage-200">
            <div class="flex flex-col gap-1">
                <span class="text-base text-black font-medium">Design Chat</span>
                <div class="divide-x divide-fiord-200 flex items-center gap-3">
                    <!-- avatars -->
                    <div class="flex -space-x-1 overflow-hidden">
                        <img class="inline-block h-4 w-4 rounded-full ring-2 ring-white"
                            src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                            alt="">
                        <img class="inline-block h-4 w-4 rounded-full ring-2 ring-white"
                            src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                            alt="">
                        <img class="inline-block h-4 w-4 rounded-full ring-2 ring-white"
                            src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80"
                            alt="">
                        <img class="inline-block h-4 w-4 rounded-full ring-2 ring-white"
                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                            alt="">
                    </div>

                    <div class="ps-2 flex items-center gap-1 text-xs font-medium text-blue-600">
                        <ion-icon class="text-sm" name="add-circle"></ion-icon>
                        New member
                    </div>

                </div>
            </div>
            <div class="flex items-center !ms-auto  gap-2">
                <div class="flex items-center !ms-auto">
                    <button mat-icon-button
                        class="bg-white text-fiord-300 hover:text-blue-500 transition-all ease-in-out duration-200">
                        <ion-icon name="call" class="text-base"></ion-icon>
                    </button>
                    <button mat-icon-button
                        class="bg-white text-fiord-300 hover:text-blue-500 transition-all ease-in-out duration-200">
                        <ion-icon name="videocam" class="text-base"></ion-icon>
                    </button>
                    <button mat-icon-button
                        class="bg-white text-fiord-300 hover:text-blue-500 transition-all ease-in-out duration-200">
                        <ion-icon name="browsers" class="text-base rotate-90"></ion-icon>
                    </button>
                </div>
                <hr class="bg-fiord-200 h-5 w-[1px] border-fiord-200">
                <div class="flex items-center !ms-auto">
                    <button mat-icon-button
                        class="bg-white text-fiord-300 hover:text-blue-500 transition-all ease-in-out duration-200">
                        <ion-icon name="settings" class="text-base rotate-90"></ion-icon>
                    </button>
                    <button mat-icon-button
                        class="bg-white text-fiord-300 hover:text-blue-500 transition-all ease-in-out duration-200">
                        <ion-icon name="ellipsis-horizontal" class="text-base rotate-90"></ion-icon>
                    </button>
                </div>
            </div>
        </header>

        <div class="p-3 py-5 h-[70vh]">

        </div>

        <footer
            class="sticky mt-auto bottom-0 z-10 backdrop-blur-lg p-6 py-3 w-full flex items-center gap-2 justify-start cursor-pointer">
            <div mat-ripple class="relative w-full flex  items-center gap-2 justify-start cursor-pointer bg-fiord-50 p-2 rounded-2xl">
                <div
                    class="relative flex-shrink-0 h-9 w-9 rounded-full object-cover text-white bg-blue-500 border-2 border-blue-200 flex items-center justify-center">
                    <span class="text-xs font-normal">MS</span>
                </div>
                <input type="text" class="bg-fiord-50 focus:outline-0 text-xs w-full" placeholder="Type Something...">
                <div class="flex items-center !ms-auto  gap-2 ">
                    <div class="flex items-center gap-1  !ms-auto">
                        <button mat-icon-button
                            class=" text-fiord-300 hover:text-blue-500 transition-all ease-in-out duration-200">
                            <ion-icon name="attach" class="text-xl"></ion-icon>
                        </button>
                        <button mat-icon-button
                            class=" text-fiord-300 hover:text-blue-500 transition-all ease-in-out duration-200">
                            <ion-icon name="mic" class="text-xl"></ion-icon>
                        </button>
                    </div>
                    <hr class="bg-fiord-200 h-5 w-[1px] border-fiord-200">
                    <div class="flex items-center !ms-auto">
                        <button mat-icon-button
                            class=" text-fiord-600 hover:text-blue-500 transition-all ease-in-out duration-200">
                            <ion-icon name="send" class="text-base -rotate-45"></ion-icon>
                        </button>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>